@{
    ViewBag.Title = "Apartments";
}

<nav>
    <ul id="menu" style="padding:20px">
        <li class="active menu" id="home">
            <a href="#!/Home">Home</a>
        </li>
    </ul>
</nav>

<div style="padding:10px 10px; margin:10px;">
    <ng-view>

    </ng-view>
</div>